<% if (theme.about_me){ %>
<div class="widget about_me">
  <h3 class="title"><%= theme.about_me.title || __('about_me') %></h3>
  <ul class="entry">
    <% if (theme.about_me.avatar){ %>
    <li><img width="150" title="avatar" src="<%= theme.about_me.avatar %>" /></li>
    <% } %>
    <% theme.about_me.texts.forEach(function(item){ %>
    <li><%- item %></li>
    <% }); %>
    <ul class="social-icons">
        <li><a href="https://github.com/wileam/" class="social_github"></a></li>
        <li><a href="http://www.douban.com/people/wileam/" class="social_douban"></a></li>
        <li><a href="http://weibo.com/wileam" class="social_weibo"></a></li>
        <li><a href="http://www.pinterest.com/wileam/" class="social_pintrest"></a></li>
        <li><a href="https://twitter.com/wileam" class="social_twitter"></a></li>
        <li><a href="https://www.facebook.com/Joanna.Wu.0326" class="social_facebook"></a></li>
    </ul>
  </ul>
</div>
<% } %>